<!DOCTYPE html>
<html lang="sl" dir="ltr">
<head>
    <meta name="author" content="eLedina Team">
    <meta name="description" content="Spletna stran za dijake gimnazije Ledina.">
    <meta charset="utf-8">
    <title>eLedina - {% block title %}{% endblock %}</title>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">

    <!-- stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}"/>
</head>

<body class="body">
    <header>
        {% include "skeletons/header.html" %}
    </header>
    <main class="minh100">
        {% block content %}{% endblock %}
    </main>

    {% include "skeletons/cookieConsent.html" %}
    <footer class="footer flex flex--center flex--middle text--white flex--column">
        <div class="">
            <div class="flex flex--center">
                <p>Copyright &copy; 2018 eLedina</p>
                <span>|</span>
                <a href="#">Politika zasebnosti in pogoji uporabe</a>
            </div>
        </div>
    </footer>
</body>

<!-- scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js" integrity="sha256-dwhppIrxD8qC6lNulndZgtIm4XBU9zoMd9OUoXzIDAE=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}"></script>

<!-- header script -->
<script>
const burger = $(".burger")
    , userInfo = $("#userInfo")
    , links = $("header .links")
    , main = $("main");

burger.click(function () {
    // detect state
    if (burger.hasClass("opened")) {
        // play close animation and set main to normal
        burger.removeClass("opened");
        burger.addClass("closed");

        main.removeClass("aside");
        userInfo.removeClass("visible");
        links.removeClass("down");
    }
    else {
        // play open animation and set main aside
        burger.addClass("opened");
        burger.removeClass("closed");

        main.addClass("aside");
        userInfo.addClass("visible");
        links.addClass("down");
    }

});
</script>
{% block scripts %}{% endblock %}

<!--
FLASK TEMPLATE
Request time: {{ g.request_time() }}s
-->
</html>
