<!DOCTYPE html>
<html lang="sl" dir="ltr">
<head>
    <meta name="author" content="eLedina Twats">
    <meta name="description" content="Spletna stran za dijake gimnazije Ledina.">
    <meta charset="utf-8">
    <title>eLedina - {% block title %}{% endblock %}</title>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">

    <!-- stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}"/>
</head>

<body class="body">
<header>
    {% block header %}{% endblock %}
</header>

<div>
    {% block content %}{% endblock %}
</div>

<footer class="footer flex flex--center flex--middle text--white">
    <p>Copyright &copy; 2018 eLedina</p>
    <span>|</span>
    <a href="#">Politika zasebnosti in pogoji uporabe</a>
</footer>
</body>

<!-- scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}"></script>
</html>
