{% import "macros/svgs.html" as svgs %}

<nav class="header flex flex--column">
    <div class="flex flex--row">
        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="links">
        <a href="home">
            {{ svgs.home() }}
            <span>Domov</span>
        </a>
        <a href="learning">
            {{ svgs.ucenje() }}
            <span>Učenje</span>
        </a>
        <a href="news">
            {{ svgs.dogodki() }}
            <span>Dogodki</span>
        </a>
        <a href="oral_exam">
            {{ svgs.seznami() }}
            <span>Seznami</span>
        </a>
        <a href="blog_mainpage">
            {{ svgs.blog() }}
            <span>Blog</span>
        </a>
        <a href="contacts">
            {{ svgs.contact() }}
            <span>Kontakti</span>
        </a>
        <a href="settings">
            {{ svgs.settings() }}
            <span>Nastavitve</span>
        </a>
    </div>
</nav>
