{% extends "skeletons/base.html" %}
{% import "macros/svgs.html" as svgs %}
{% block title %}Blog{% endblock %}
{% block content %}

<div class="body">
    <h1 class="text-center">Blog</h1>

    <div class="blog">
        <h2 id="title"></h2>

        <div class="blog__data mb30" id="data">
        </div>

        <div id="content">
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    $(document).ready(function () {
        var btitle = $("#title");
        var bdata = $("#data");
        var bcontent = $("#content");
        // Since ID is stored in URL, it gets it from there
        var id = window.location.search.replace("?id=", "");
        var url = "{{ url_for('api.blog_get') }}";

        ledinaAjax(
            "POST", url, id,
            function(response) {
                console.log(response.status);
                console.log(response.responseText);

                var jsonified = JSON.parse(response.responseText);

                var epoch_date = jsonified["date"];
                var title = jsonified["title"];
                var content = jsonified["content"];
                // Epoch time to my time conversion
                var myDate = new Date(epoch_date *1000);
                var date_str = myDate.toLocaleString();

                btitle.append(title);
                bcontent.append(content);
                bdata.append("<p>" + date_str + "</p>");
                // Necessary in case tables are present inside content
                $("table").addClass( "table" );
            }
        );

    });

</script>

{% endblock %}
