{% extends "skeletons/base.html" %}
{% import "macros/svgs.html" as svgs %}
{% block title %}Blog{% endblock %}
{% block content %}

<div class="body">
    <h1 class="text-center">Blog</h1>

    <div class="blog">
        <h2 id="title"></h2>

        <div class="blog__data mb30" id="data">
        </div>

        <div id="content">
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>

    $(document).ready(function () {
        var btitle = $("#title");
        var bdata = $("#data");
        var bcontent = $("#content");

        var id = window.location.search.replace("?id=", "");

        $.getJSON("{{ url_for('api.blog_get') }}", function (pack) {

            for (x in pack) {
                comparableID = x.replace("blog:", "")
                if (comparableID === id) {
                    var array = pack[x];
                    var epoch_date = array["date"];
                    var title = array["title"];
                    var content = array["content"];
                    var myDate = new Date(epoch_date *1000);
                    var date_str = myDate.toLocaleString();

                    btitle.append(title);
                    bcontent.append("<p>" + content + "</p>");
                    bdata.append("<p>" + date_str + "</p>");


                } else {
                }
            }

        });

    });

</script>

{% endblock %}
