/*----------------------------------*\
    color variables
\*----------------------------------*/

/* color variables */
$color-white: #fff;
$color-black: #000;
$color-gray: #3b3e43;
$color-blue: #80bfff;
$color-darkblue: #004d99;
$color-orange: #ffb31a;
$color-magenta: #3333cc;

/* colors you want to include in text and background */
$colors: (
    "white": $color-white,
);


/* percentage of darkening color */
$darken: 5%;
/* percentage of lightening color */
$lighten: 8%;
