/*----------------------------------*\
    color variables
\*----------------------------------*/

/* color variables */
$color-white: #fff;
$color-black: #000;

/* colors you want to include in text and background */
$colors: (
    "white": $color-white,
    "black": $color-black,
);


/* percentage of darkening color */
$darken: 5%;
/* percentage of lightening color */
$lighten: 8%;
