/*----------------------------------*\
    color variables
\*----------------------------------*/

/* color variables */
$color-white: #fff;
$color-black: #000;
$color-gray: #3b3e43;

/* colors you want to include in text and background */
$colors: (
);


/* percentage of darkening color */
$darken: 5%;
/* percentage of lightening color */
$lighten: 8%;
