/*----------------------------------*\
    font variables
\*----------------------------------*/


/* importing font */
/*
@font-face {
  font-family: neki;
  src: url(../fonts/neki.otf);
  font-weight: 700;
}
*/

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: PTSans;
    src: url('../fonts/PT_Sans-Web-Regular.ttf');
    font-weight: 400;
}

@font-face {
}

/* Font Families */
$font-primary: "Roboto";
$font-secondary: "Raleway";
$font-tertiary: "PTSans";

/* Font Weights */
$light: 300;
$normal: 400;
$semi-bold: 500;
$bold: 700;
