/*----------------------------------*\
    font variables
\*----------------------------------*/


/* importing font */
/*
@font-face {
  font-family: neki;
  src: url(../fonts/neki.otf);
  font-weight: 700;
}
*/

@font-face {
}

@font-face {
}

@font-face {
}

@font-face {
}

/* Font Families */
$font-primary: "";
$font-secondary: "";
$font-tertiary: "";

/* Font Weights */
$light: 300;
$normal: 400;
$semi-bold: 500;
$bold: 700;
