/*----------------------------------*\
    font variables
\*----------------------------------*/


/* importing font */
/*
@font-face {
  font-family: neki;
  src: url(../fonts/neki.otf);
  font-weight: 700;
}
*/

/* Font Families */
$font-primary: "Lato";
$font-secondary: "Roboto";
$font-tertiary: sans-serif;

/* Font Weights */
$light: 300;
$normal: 400;
$semi-bold: 500;
$bold: 700;
