// Ripple effect
// Almost pure css, fixed position

.ripple {
    &::after {
        // Position ripple at the center
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;

        width: 10px;
        height: 10px;

        background-color: transparentize($color-gray, 0.5);
        opacity: 0;
        border-radius: 50%;
        @include transform(scale(1, 1) translateX(-50%))
    }

    &:focus:not(:active)::after, &.play-ripple::after {
        animation: ripple 1.2s linear forwards;
        animation-iteration-count: 1;
    }
}


@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    20% {
        transform: scale(40, 40);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(100, 100);
    }
}