/*----------------------------------*\
 Body styling
\*----------------------------------*/
.body {
    width: 100%;
    height: 100%;
    //margin-bottom: 30px;

    h1 {
        font-size: 4em;
    }

    // login.html and register.html
    &__auth {
        width: 40%;
        
        &--fullh {
            height: 100vh;
        }
        
        #errorBox, #successBox {
            visibility: hidden;
            height: 0;
            &.visible {
                visibility: visible;
                height: auto;
            }
        }
        
        #errorBox {
             color: $color-red;
        }
        #successBox {
            color: $color-fern-green
        }
    }

    // oral_exam.html
    &__exam {
        width: 70%;
        margin: 0 auto;

        h2 {
            font-size: 2.5em;
        }
        div {
            width: 100%;
        }
        p {
            font-size: 1.5em;
            font-weight: bold;
        }
        table {
            width: 500px;
        }

        &--window {
            background-color: transparentize($color-blue, 0.5);
            margin: 30px 0;
            padding: 10px;
            border: 3px solid transparentize($color-blue, 0.7);
        }

        a {
            cursor: pointer;
            @include transition();
            color: $color-black;
            &::before {
                display: none;
            }
            &:hover {
                background-color: $color-blue;
                color: $color-white;
            }
        }

        &--list {
            h2 {
                font-size: 2em;
            }
            div {
                width: 80%;
                margin: 20px auto;
                font-size: 1.5em;
            }
            button {
                display: inherit;
            }
        }
    }

    // news.html
    &__news {
        width: 80%;
    }

    // learning.html
    &__learning {
        &--search {
            max-width: 90%;
            div {
                width: auto;
            }
            p {
                font-size: 1.2em;
                padding: 0 10px;
            }
            input {
                width: auto;
            }
        }

        &--list {
            width: 80%;
            tr {
                cursor: pointer;
                &:hover {
                    background-color: $color-beige;
                }
            }
            #header {
                cursor: auto;
                &:hover {
                    background-color: $color-white;
                }
            }
        }

        &--red {
            color: $color-red !important;
        }
    }

    // settings.html
    &__settings {
        width: 100%;
        
        // font sizes
        p, span {
            font-size: 1.1em;
        }

        input {
            width: auto;
        }
        
        input::placeholder {
            color: transparentize($color-black, 0.6);
        }

        div.input {
            border-bottom: 1px solid $color-beige;
            padding: 10px 0;
        }

        &--footnote {
            max-width: 80%;
            p {
                font-size: 0.7em;
            }
        }
        
        // make cards full width
        .card {
            width: 80%;
        }
        
        // used for aligning inputs
        .aligner {
            // https://caniuse.com/#search=css%20grid%20layout
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 1fr 1fr 2fr;
            grid-row-gap: 2px;
            
            
            .item {
                // new row
                &.nr {
                    grid-column-start: 1;
                }
                
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }
        
        .infoBox {
            text-align: center;
            
            opacity: 0;
            @include transition(.1s);
            &.visible {
                opacity: 1;
            }
            
            color: $color-fern-green;
            &.error {
                color: lighten($color-red, 10);
            }
        }
    }
}

::-webkit-input-placeholder, ::placeholder {
    color: $color-black;
    letter-spacing: 1px;
}
