/*----------------------------------*\
    Header
\*----------------------------------*/
.header {
    height: 100%;
    width: 250px;
    position: fixed;
    flex-flow: column;
    z-index: 0;
    top: 0;
    background-color: lighten($color-blue, 30);

    a {
        margin: 20px 0;
        font-size: 1.7em;
        color: darken($color-blue, 20);
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 10px 0px 10px 10px;
        @include transition();

        &::before {
            display: none;
        }

        &:hover {
            background-color: darken($color-blue, 20);
            color: $color-white;
        }

        &:hover svg {
            path {
                fill: $color-white;
                @include transition();
            }
        }

        svg {
            height: 50px;
            @include transition();

            path {
                fill: darken($color-blue, 20);
            }
        }

        span {
            padding-left: 15px;
            @include transition();
        }
    }

}
