/*----------------------------------*\
    globals
\*----------------------------------*/
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}
body {
    margin: 0;
    overflow-x: hidden;
    line-height: 1.6;
    height: 100vh;
    //color: $color-black;
    //font-size: 14px;
    //font-family: $font-primary;
}
section {
    position: relative;
}
iframe {
    border: 0;
}
main {
    display: block;
}
ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
li {
    display: block;
}
dl {
    margin-top: 0;
    margin-bottom: 0;
}
dd {
    margin-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    margin: 0;
}
i {
    font-weight: $normal;
}
blockquote {
    margin: 0;
    padding: 0;
}
sup {
    position: relative;
    top: -.5em;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
}
strong {
    font-weight: bold;
}
figure {
    margin: 0;
}
img {
    border: 0;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    border: 0;
    margin: 0;
    padding: 0;
    text-align: inherit;
    text-transform: inherit;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
    overflow: visible;
    &:focus {
        outline: 0;
    }
}
form {
    width: 100%;
}
p {
    // Disabled 10px on bottom
    margin: 0 0 0;
}
::-moz-focus-inner {
    border: 0;
    padding: 0;
    outline: 0;
}
:focus {
    outline: 0;
}
.overflow {
    overflow: hidden;
}
/* Elements have padding and border included in the element's total width and height */
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

main {
    overflow-x: hidden;
    overflow-y: auto;
    font-family: $font-primary, Arial, sans-serif;
    background-color: $color-white;
    z-index: 100;
    position: relative;
    height: 100vh;
    width: calc(100% - 50px);

    @include transition();
    @include transform(translateX(50px));

    &.display {
        @include transform(translateX(200px))
    }

    &.noside {
        width: 100vw !important;
        @include transform((translateX(0)) !important);
    }

    @media #{$sm-down} {
        // Completely show on mobile
        @include transform(translateX(0));
        width: 100vw;

        // Completely hide main, navigation is full-screen
        &.display {
            @include transform(translateX(100vw));
        }
    }
}