/*----------------------------------*\
    globals
\*----------------------------------*/
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}
body {
    margin: 0;
    overflow-x: hidden;
    line-height: 1.6;
    color: $color-jungle-green;
    //font-size: 14px;
    font-family: $font-primary;
}
section {
    position: relative;
}
iframe {
    border: 0;
}
ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
ol {
    position: relative;
    li::before {
        position: absolute;
        content: "";
        border-radius: 50%;
        background-color: $color-beige;
        height: 27px;
        width: 27px;
        z-index: -1;
        left: -25px;
    }
}
li {
    padding: 0 3px;
    margin: 5px 0;
}
dl {
    margin-top: 0;
    margin-bottom: 0;
}
dd {
    margin-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-secondary;
    margin: 0;
}
i {
    font-weight: $normal;
}
blockquote {
    margin: 0;
    padding: 0;
}
sup {
    position: relative;
    top: -.5em;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
}
strong {
    font-weight: bold;
}
figure {
    margin: 0;
}
img {
    border: 0;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
a {
    text-decoration: none;
    font-weight: $bold;
    font-size: inherit;
}

a.link {
    color: $color-fern-green;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        height: 2px;
        bottom: 3px;
        width: 0px;
        background-color: $color-fern-green;
        @include transition();
    }

    &:hover::before {
        width: 100%;
    }
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    text-align: inherit;
    text-transform: inherit;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
    overflow: visible;
    &:focus {
        outline: 0;
    }
}
form {
    width: 100%;
}
p {
    // Disabled 10px on bottom
    margin: 0 0 0;
    font-family: $font-secondary;
    text-align: justify;
    font-size: 18px;
}
::-moz-focus-inner {
    border: 0;
    padding: 0;
    outline: 0;
}
:focus {
    outline: 0;
}
.overflow {
    overflow: hidden;
}
/* Elements have padding and border included in the element's total width and height */
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.minh100 {
    min-height: 100vh;
}

main {
    background-color: $color-white;
    width: 100%;
    overflow: auto;
    
    $header-closed: 54px;
    $header-expanded: 180px;

    @include transition();
    @include transform(translateX($header-closed));
    
    &.aside {
        @include transform(translateX($header-expanded));
    }

    &.noside {
        width: 100vw !important;
        @include transform((translateX(0)) !important);
    }

    @media #{$sm-down} {
        // Completely show on mobile
        @include transform(translateX(0));
        width: 100vw;

        // Completely hide main, navigation is full-screen
        &.display {
            @include transform(translateX(100vw));
        }
    }
}
