{% extends "skeletons/base.html" %}
{% import "macros/svgs.html" as svgs %}
{% block title %}Nov blog{% endblock %}
{% block content %}

<div class="body">
    <h1 class="text-center">Blog</h1>

    <div class="blog">

        <h2>Nov blog</h2>

        <form id="blogForm">
            <div class="input">
                <input type="text" name="title" id="inputTitle" required>
                <label>Naslov</label>
            </div>

            <div class="">
                <textarea name="Text1" class="textarea" id="inputContent"></textarea>
            </div>
            <button type="button" name="button" class="btn__main blue" id="submitBtn">OBJAVI</button>
        </form>

    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var submitBtn = $("#submitBtn");
    var btitle = $("#inputTitle");
    var bcontent = $("#inputContent");

    var converter = new showdown.Converter();
    // Disables newlines
    converter.setOption("omitExtraWLInCodeBlocks", "true");
    // Turns links into ... LINKS!!1
    converter.setOption("simplifiedAutoLink", "true");
    converter.setOption("excludeTrailingPunctuationFromURLs", "true");
    // Treats underscores in the middle as underscores, not bold text.
    converter.setOption("literalMidWordUnderscores", "true");
    // Sarcasm/edgy necessity (line through).
    converter.setOption("strikethrough", "true");
    // This one's obvious.
    converter.setOption("tables", "true");
    converter.setOption("tablesHeaderId", "true");
    // Like shopping list - checks stuff.
    converter.setOption("tasklists", "true");
    // Removes annoying GitHub-doesn't-give-a-shit-about-line-breaks thingy.
    converter.setOption("simpleLineBreaks", "true");
    // Adds blessing from God.
    converter.setOption("openLinksInNewWindow", "true");
    // Emoji movie.
    converter.setOption("emoji", "true");
    // Underline.
    converter.setOption("underline", "true");


    submitBtn.click(function () {
        var text = bcontent.val();
        var output = converter.makeHtml(text);
        console.log(output);
        var raw_date = new Date();
        var date = Math.floor(raw_date.getTime() / 1000);
        var payload = {
            "title": btitle.val(),
            "content": output,
            "date": date
        };

        var url = "{{ url_for('api.blog_new') }}"

        ledinaAjax(
            "POST", url, payload,

            function(response) {
                console.log("Fuckin did it!");

                console.log(response.status);

                console.log(response.responseText);
            }
        );
    });
</script>
{% endblock %}
