{% extends "skeletons/base.html" %}
{% import "macros/svgs.html" as svgs %}
{% block title %}Nov blog{% endblock %}
{% block content %}

<header>
    {% include "skeletons/header.html" %}
</header>

<div class="body">
    <h1 class="text-center">Blog</h1>

    <div class="blog">

        <h2>Nov blog</h2>

        <form class="">
            <div class="input">
                <input type="text" name="title" value="" required>
                <label>Naslov</label>
            </div>

            <div class="">
                <textarea name="Text1" class="textarea"></textarea>
            </div>

            <button type="button" name="button" class="btn__main green">Dodaj fotografijo</button>
            <button type="submit" name="button" class="btn__main blue">OBJAVI</button>
        </form>

    </div>
</div>

{% endblock %}
