{% extends "skeletons/base.html" %}
{% import "macros/svgs.html" as svgs %}
{% block title %}Nov blog{% endblock %}
{% block content %}

<div class="body">
    <h1 class="text-center">Blog</h1>

    <div class="blog">

        <h2>Nov blog</h2>

        <form id="blogForm">
            <div class="input">
                <input type="text" name="title" id="inputTitle" required>
                <label>Naslov</label>
            </div>

            <div class="">
                <textarea name="Text1" class="textarea" id="inputContent"></textarea>
            </div>

            <button type="button" name="button" class="btn__main green">Dodaj fotografijo</button>
            <button type="button" name="button" class="btn__main blue" id="submitBtn">OBJAVI</button>
        </form>

    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var submitBtn = $("#submitBtn");
    var btitle = $("#inputTitle");
    var bcontent = $("#inputContent");

    submitBtn.click(function () {
        var raw_date = new Date();
        var date = Math.floor(raw_date.getTime() / 1000);
        var payload = {
            "title": btitle.val(),
            "content": bcontent.val(),
            "date": date
        };

        var url = "{{ url_for('api.blog_new') }}"

        ledinaAjax(
            "POST", url, payload,

            function(response) {
                console.log("Fuckin did it!");

                console.log(response.status);

                console.log(response.responseText);
            }
        );
    });
</script>
{% endblock %}
