{% extends "skeletons/base.html" %}
{% import "macros/svgs.html" as svgs %}
{% block title %}Blog{% endblock %}
{% block content %}

<div class="body">
    <h1 class="text-center">Blog</h1>

    <div class="blog" id="blog">

    </div>
</div>

{% endblock %}

{% block scripts %}
<script>

    $(document).ready(function () {

        $.getJSON("{{ url_for('api.blog_get') }}", function (pack) {

            for (x in pack) {
                var array = pack[x];

                var epoch_date = array["date"];
                var title = array["title"];
                var id = x.replace("blog:", "");
                console.log(id);

                var myDate = new Date(epoch_date *1000);
                var date_str = myDate.toLocaleString();
                var date_array = date_str.split(" ");
                var year = date_array[2];
                var month = date_array[1];
                var day = date_array[0];

                var month_name

                if (month == "1.") {
                    month_name = "Januar";
                } else if (month == "2.") {
                    month_name = "Februar";
                } else if (month == "3.") {
                    month_name = "Marec";
                } else if (month == "4.") {
                    month_name = "April";
                } else if (month == "5.") {
                    month_name = "Maj";
                } else if (month == "6.") {
                    month_name = "Junij";
                } else if (month == "7.") {
                    month_name = "Julij";
                } else if (month == "8.") {
                    month_name = "Avgust";
                } else if (month == "9.") {
                    month_name = "September";
                } else if (month == "10.") {
                    month_name = "Oktober";
                } else if (month == "11.") {
                    month_name = "November";
                } else if (month == "12.") {
                    month_name = "December";
                }


                var yearExists = document.getElementById(year);
                var monthExists = document.getElementById(month + year);
                if (yearExists == null) {
                    $("#blog").append('<div id="' + year + '"><h2>' + year + '</h2><div id="months' + year + '"></div></div>')

                    if (monthExists == null) {
                        $("#months" + year).append('<div class="blog__posts" id="' + month + year + '"><div class="blog__posts--month"><h3>' + month_name + '</h3></div><div class="blog__posts--dates" id="posts' + month.replace('.','') + year + '"></div></div>');
                        var posts = "#posts" + month.replace('.','') + year;
                        $(posts).append("<div class='flex'><p>" + day + "</p><a href='blogs/blog_sample.html?id=" + id + "'>" + title + "</a></div>");

                    } else {
                        var posts = "#posts" + month.replace('.','') + year;
                        $(posts).append("<div class='flex'><p>" + day + "</p><a href='blogs/blog_sample.html?id=" + id + "'>" + title + "</a></div>");
                    }

                } else {

                    if (monthExists == null) {
                        $("#months" + year).append('<div class="blog__posts" id="' + month + year + '"><div class="blog__posts--month"><h3>' + month_name + '</h3></div><div class="blog__posts--dates" id="posts' + month.replace('.','') + year + '"></div></div>');
                        var posts = "#posts" + month.replace('.','') + year;
                        $(posts).append("<div class='flex'><p>" + day + "</p><a href='blogs/blog_sample.html?id=" + id + "'>" + title + "</a></div>");

                    } else {
                        var posts = "#posts" + month.replace('.','') + year;
                        $(posts).append("<div class='flex'><p>" + day + "</p><a href='blogs/blog_sample.html?id=" + id + "'>" + title + "</a></div>");
                    }

                }
            }

        });
    });
</script>
{% endblock %}
