{% extends "skeletons/base.html" %}
{% import "macros/svgs.html" as svgs %}
{% block title %}Blog{% endblock %}
{% block content %}

<div class="body">
    <h1 class="text-center">Blog</h1>

    <div class="blog" id="blog">

    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        var bpack = {};
        var url = "{{ url_for('api.blog_get') }}";
        ledinaAjax("GET", url, bpack,
            function(response) {
                console.log("Poštar je odnesel paketek.");
                console.log(response.status);
                console.log(response.responseText);

                for (x in response.responseText) {
                    var array = response.responseText[x];
                    var epoch_date = array["date"];
                    var title = array["title"];
                    // Removes the unnecessary "blog:" at the beginning of ID
                    var id = x.replace("blog:", "");

                    // Converts Epoch to mortal time
                    var myDate = new Date(epoch_date *1000);
                    var date_str = myDate.toLocaleString();
                    var date_array = date_str.split(" ");
                    var year = date_array[2];
                    var month = date_array[1];
                    var day = date_array[0];

                    var months = {
                        1.: "Januar",
                        2.: "Februar",
                        3.: "Marec",
                        4.: "April",
                        5.: "Maj",
                        6.: "Junij",
                        7.: "Julij",
                        8.: "Avgust",
                        9.: "September",
                        10.: "Oktober",
                        11.: "November",
                        12.: "December"
                    };

                    var month_name
                    for (mnumber in months) {
                        if ((mnumber + ".") == month) {
                            month_name = months[mnumber];
                        }
                    }

                    // Generates month/year and blog entries, which have IDs in their links (href='blogs/blog_sample.html?id=ID')
                    var yearExists = $("#" + year);
                    var monthExists = $("#" + month + year);
                    if (yearExists.length === 0) {
                        $("#blog").append('<div id="' + year + '"><h2>' + year + '</h2><div id="months' + year + '"></div></div>')

                        if (monthExists.length === 0) {
                            $("#months" + year).append('<div class="blog__posts" id="' + month + year + '"><div class="blog__posts--month"><h3>' + month_name + '</h3></div><div class="blog__posts--dates" id="posts' + month.replace('.','') + year + '"></div></div>');
                            var posts = "#posts" + month.replace('.','') + year;
                            $(posts).append("<div class='flex'><p>" + day + "</p><a href='blogs/blog_sample.html?id=" + id + "'>" + title + "</a></div>");

                        } else {
                            var posts = "#posts" + month.replace('.','') + year;
                            $(posts).append("<div class='flex'><p>" + day + "</p><a href='blogs/blog_sample.html?id=" + id + "'>" + title + "</a></div>");
                        }

                    } else {

                        if (monthExists.length === 0) {
                            $("#months" + year).append('<div class="blog__posts" id="' + month + year + '"><div class="blog__posts--month"><h3>' + month_name + '</h3></div><div class="blog__posts--dates" id="posts' + month.replace('.','') + year + '"></div></div>');
                            var posts = "#posts" + month.replace('.','') + year;
                            $(posts).append("<div class='flex'><p>" + day + "</p><a href='blogs/blog_sample.html?id=" + id + "'>" + title + "</a></div>");

                        } else {
                            var posts = "#posts" + month.replace('.','') + year;
                            $(posts).append("<div class='flex'><p>" + day + "</p><a href='blogs/blog_sample.html?id=" + id + "'>" + title + "</a></div>");
                        }

                    }
                }
        });
    });
</script>
{% endblock %}
