{% extends "skeletons/base.html" %}
{% import "macros/svgs.html" as svgs %}
{% block title %}Predpražnik{% endblock %}
{% block content %}

<div class="flex flex--around landing__bg flex--middle"></div>
<div class="landing__gradient"></div>

<div class="flex flex--around landing flex--middle">
    <div class="text--white flex flex--column">
        <div class="flex flex--column flex--middle">
            <h1 class="landing__font--big">eLedina.si</h1>
            <h2 class="landing__font--medium">Spletna stran dijakov gimnazije Ledina</h2>
        </div>
        <div class="landing__links flex flex--middle flex--column">
            <h2 class="landing__font--medium text--white">Dobrodošel/la!</h2>
            <div class="flex flex--column">
                <a class="btn__main green" href="login"> {{ svgs.login() }} PRIJAVA</a>
                <a class="btn__main green" href="register"> {{ svgs.register() }} REGISTRACIJA</a>
            </div>
        </div>
    </div>
    <div></div>
</div>

{% endblock %}
