{% extends "skeletons/base.html" %}
{% block title %}Predpražnik{% endblock %}
{% block content %}

<div class="body flex flex--around body__landing--background flex--middle">
    <div class="text--center body__landing--title">
        <h1 class="body__titles--primary text-center text--white">eLedina.si</h1>
        <h2 class="body__titles--secondary text-center text--white">Spletna stran dijakov gimnazije Ledina</h2>
    </div>
    <div class="body__landing">
        <h2 class="body__titles--secondary">Živjo!</h2>
        <p>Dobrodošel/la na eLedina.si, kjer se zgodijo vse čarobne reči! Če nam duše še nisi prodal/a, klikni na velik gumb za registracijo. Če pa si že član/ica, se lahko kar prijaviš.</p>
        <div class="flex flex--around mt30">
            <a href="#">
                <svg style="" viewBox="0 0 24 24">
                    <path fill="#000000" d="M15,14C12.33,14 7,15.33 7,18V20H23V18C23,15.33 17.67,14 15,14M6,10V7H4V10H1V12H4V15H6V12H9V10M15,12A4,4 0 0,0 19,8A4,4 0 0,0 15,4A4,4 0 0,0 11,8A4,4 0 0,0 15,12Z" />
                </svg>
                REGISTRACIJA
            </a>
            <a href="#">
                <svg style="" viewBox="0 0 24 24">
                    <path fill="#000000" d="M10,17.25V14H3V10H10V6.75L15.25,12L10,17.25M8,2H17A2,2 0 0,1 19,4V20A2,2 0 0,1 17,22H8A2,2 0 0,1 6,20V16H8V20H17V4H8V8H6V4A2,2 0 0,1 8,2Z" />
                </svg>
                PRIJAVA
            </a>
        </div>
    </div>
</div>

{% endblock %}
