{% extends "skeletons/base02.html" %}
{% import "macros/svgs.html" as svgs %}
{% block title %}Prijava{% endblock %}
{% block content %}

<div class="body flex flex--column flex--center body__auth--fullh">
    <div class="flex flex--center mb30">
        <h1>Prijava</h1>
    </div>
    <div class="flex flex--center">
        <div class="body__auth">
            <form id="accesibilityForm" class="mb30 mt10 flex flex--column flex--middle">
                <div class="input" id="inp">
                    <label>Uporabniško ime / E-poštni naslov</label>
                    <span class="err">Vpiši uporabniško ime ali e-poštni naslov!</span>
                </div>
                <div class="input" id="inp">
                    <input type="password" name="password" required>
                    <label>Geslo</label>
                    <span class="err">Vpiši geslo!</span>
                </div>
                <button type="submit" value="logIn" class="btn__main blue">PRIJAVI ME</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>


</script>
{% endblock %}
