{% extends "skeletons/base.html" %}
{% import "macros/svgs.html" as svgs %}
{% block title %}Obvestila{% endblock %}
{% block content %}

<div class="flex flex--middle flex--column">

    <h1>Novice</h1>
    <div class="body__news mt60">

        <div class="blog" id="priority-none">
            <h2>Uradne ure v času šolskih počitnic</h2>
            <div>
                <p>Uradne ure na Gimnaziji Ledina v času od 9. 7. 2018 do 15. 8. 2018 bodo vsak torek od 9.00 do 12.00 in v ponedeljek, 13. 8. 2018, od 9.00 do 12.00.</p>
                <a href="https://www.ledina.si/">Vir - Uradna stran Gimnazije Ledina</a>
                <div class="blog__data">
                    <p>Avtor/ica: Mojca Lotrič</p>
                    <p>Original objavljen 6. julija 2018</p>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}
