{% extends "skeletons/base.html" %}
{% import "macros/svgs.html" as svgs %}
{% block title %}Dom{% endblock %}
{% block content %}

<div class="flex flex--column flex--middle">
    <h1>Nastavitve</h1>

    <div class="body__settings mt60 flex flex--column flex--middle">
        <!-- TODO cards -->

        <div class="card">
            <div class="title">Spremeni ime</div>
            <div class="content aligner">
                <p class="item">Sedanje ime:</p>
                <span class="text-bold pl10 item">{{ g.user["name"] }}</span>

                <p class="item nr">Novo ime:</p>
                <div class="input mb10 item" id="inpNewName">
                    <input type="text" placeholder="{{ g.user["name"] }}" required>
                    <span class="err">Neveljavno uporabniško ime!</span>
                </div>
            </div>
            <div class="bottom flex--column flex--center">
                <span class="btn__main blue" id="nameChangeBtn">Spremeni ime</span>
                <span class="infoBox" id="nameChangeSpan">Ime spremenjeno.</span>
            </div>
        </div>

        <div class="card green">
            <div class="title">Spremeni e-poštni naslov</div>
            <div class="content aligner">
                <p class="item">Sedanji naslov:</p>
                <span class="text-bold pl10 item">{{ g.user["email"] }}</span>


                <p class="item nr">Novi naslov:</p>
                <!-- prefill placeholder -->
                <div class="input mb10 item" id="inpNewEmail">
                    <input type="email" placeholder="{{ g.user["email"] }}" required>
                    <span class="err">Neveljaven naslov!</span>
                </div>
            </div>
            <div class="bottom flex--column flex--center">
                <span class="btn__main green" id="emailChangeBtn">Spremeni e-poštni naslov</span>
                <span class="infoBox" id="emailChangeSpan">E-poštni naslov spremenjen.</span>
            </div>
        </div>

        <div class="card dark-green">
            <div class="title">Spremeni geslo</div>
            <!-- needed to align inputs -->
            <div class="content aligner">
                <p class="item">Sedanje geslo: </p>
                <div class="input mb10 item" id="inpNewEmail">
                    <input type="password">
                    <span class="err">Neveljaven naslov!</span>
                </div>
                
                <p class="item nr">Novo geslo: </p>
                <div class="input mb10 item" id="inpNewEmail">
                    <input type="password">
                    <span class="err">Neveljaven naslov!</span>
                </div>
                
                <p class="item nr">Ponovitev gesla: </p>
                <div class="input mb10 item" id="inpNewEmail">
                    <input type="password">
                    <span class="err">Neveljaven naslov!</span>
                </div>
            </div>
            <div class="bottom flex--column flex--center">
                <span class="btn__main dark-green" id="nameChangeBtn">Spremeni geslo</span>
                <span class="infoBox" id="nameChangeSpan">Geslo spremenjeno.</span>
            </div>
        </div>
    </div>

    <div class="body__settings--footnote mt30">
        <p>* Razreda si ne moreš spremeniti sam/a (da ne bi prišlo do čudnih zlorab), vendar pa lahko zahtevo po spremembi razreda pošlješ adminom, ki bomo zahtevo preučili in jo (če je seveda sprejemljiva) odobrili. V okence vpiši samo, v kateri razred hočeš (npr. 3A, 4G, 1B ...).</p>
    </div>

</div>

{% endblock %}
